*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    margin: 2%;
}
#contenedor{
    width: 1200px;
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}


#encabezado{
    width: 90%;
    background-color: burlywood;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 40px;
    background-color:cadetblue;
    margin: 1em;
    border-radius: 5px;

}
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
.img {
    width: 33%;
    justify-items: center;
}
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: black;
}
#pie{
    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}
#pie h4 {
    padding: 15px;
    font-size: 30px;
    color: aliceblue;
}

.card {
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid;
    vertical-align: top;
}


card:hover{
    max-width: 510px; 
}

.cord img{
    background-color: white;

}
.title{
    color: rgb(224, 201, 201);
    font-size: 18px ;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover{
    opacity: 0.7;
}
/* felx box*/
.contenedorFlex {
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}  

   