/* selector universal*/
*{
    padding: 0;
    margin: 0;
}
/*selector de id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;

}
#encabezado{
    height: 15%;
    background-color: rgb(126, 3, 142);
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
}
#barraDeNavegacion{
    height: 5%;
    background-color: rgb(0,87,9);
    border: 2px solid white;
}
#seccion{
    height: 70%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(3, 142, 3);
    display: block;
    align-items: center;
    
}
#pieDePagina{
    height: 10%;
    background-color: rgb(253, 3, 3);
    display: flex;
    justify-content: center;
    border: 1px solid white;
}

.encabezado{
    padding: 80;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(0,87,9);
    color: white;
}
.en{
    font-family: Tahoma;
    text-align: center;
    color: white;
}
.barraNavegacion{
    font-family: Tahoma;
    font-size: medium;
    color: white;
}
.pieNavegacion{
    font-family: Tahoma;
    text-align: center;
    color: white;

}
.texto{
    font-family: Tahoma;
    text-align: justify;

}
.articulo{
    margin: auto;
    padding: 10px;
}
/*selector de etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

.img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
